
.vs/RiftEngine/FileContentIndex/26d94de2-d07d-466e-acf8-f4b9c4200a74.vsidx
.vs/RiftEngine/FileContentIndex/4045ea24-0972-4348-a3c3-4ad77662e78c.vsidx
.vs/RiftEngine/FileContentIndex/b96f4f53-439d-4756-8f49-a15063df10c3.vsidx
.vs/RiftEngine/FileContentIndex/dcc72616-7fb0-46d0-bff3-f444935b06b1.vsidx
.vs/RiftEngine/v17/.suo
.vs/RiftEngine/v17/Browse.VC.db
.vs/RiftEngine/v17/DocumentLayout.json
.vs/RiftEngine/v17/ipch/AutoPCH/1b82d0269c7a2e11/WINMAIN.ipch
.vs/RiftEngine/v17/ipch/AutoPCH/32b1cdc32642827d/MOUSE.ipch
.vs/RiftEngine/v17/ipch/AutoPCH/34d0cd59d20ec274/MOUSE.ipch
.vs/RiftEngine/v17/ipch/AutoPCH/7c53ea13e8c5b604/WINDOWSMESSAGEMAP.ipch
.vs/RiftEngine/v17/ipch/AutoPCH/98354ccd4a22495a/VCTMP10840_379834.WINDOW.00000000.ipch
.vs/RiftEngine/v17/ipch/AutoPCH/ad4d79f0dce53c08/WINDOW.ipch
.vs/RiftEngine/v17/Solution.VC.db
RiftEngine/x64/Debug/Keyboard.obj
RiftEngine/x64/Debug/Mouse.obj
RiftEngine/x64/Debug/RiftEngine.exe.recipe
RiftEngine/x64/Debug/RiftEngine.log
RiftEngine/x64/Debug/RiftEngine.ilk
RiftEngine/x64/Debug/Resource.res
RiftEngine/x64/Debug/RiftEngine.tlog/CL.command.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/Cl.items.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/CL.read.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/CL.write.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/link.command.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/link.read.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/link.secondary.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/link.write.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/rc.command.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/rc.read.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/rc.write.1.tlog
RiftEngine/x64/Debug/RiftEngine.tlog/RiftEngine.lastbuildstate
RiftEngine/x64/Debug/RiftException.obj
RiftEngine/x64/Debug/vc143.idb
RiftEngine/x64/Debug/vc143.pdb
RiftEngine/x64/Debug/vcpkg.applocal.log
RiftEngine/x64/Debug/Window.obj
RiftEngine/x64/Debug/WindowsMessageMap.obj
RiftEngine/x64/Debug/WinMain.obj
x64/Debug/RiftEngine.exe
x64/Debug/RiftEngine.pdb
*.vsidx
*.ipch
*.obj
*.db-shm
*.db-wal
*.opendb
